#(project (#(meta (#(name memento)
                   #(description "LFE library wrapper for mnesia.")
                   #(version "0.0.1")
                   #(keywords ("LFE" "Lisp" "Library" "Mnesia" "Wrappers"))
                   #(maintainers (#(name "Ricardo Lanziano")
                                  #(email "arpunk@cryptolab.net")))
                   #(repos (#(github "arpunk/memento")))))
           #(deps (#("rvirding/lfe" "develop")))))
